<!-- Company goal (icons) -->
<section id="about" class="element element-spacing">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">The goal as a company is to have customer<br/>service that is not just the best<br/>but legendary</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="icon">
          <div class="icon-image">
            <svg>
              <use xlink:href="#shape-pencil-ruler"></use>
            </svg>
          </div>
          <div class="icon-content">
            <h4>Brand Identity</h4>
            <p>Lorem Ipsum Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="icon">
          <div class="icon-image">
            <svg>
              <use xlink:href="#shape-layers"></use>
            </svg>
          </div>
          <div class="icon-content">
            <h4>App Interface Design</h4>
            <p>Lorem Ipsum Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="icon">
          <div class="icon-image">
            <svg>
              <use xlink:href="#shape-laptop"></use>
            </svg>
          </div>
          <div class="icon-content">
            <h4>Web Design & Development</h4>
            <p>Lorem Ipsum Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="icon">
          <div class="icon-image">
            <svg>
              <use xlink:href="#shape-video"></use>
            </svg>
          </div>
          <div class="icon-content">
            <h4>Custom Videography</h4>
            <p>Lorem Ipsum Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>