<!-- Recent posts -->
<section id="blog">
  <div class="recent-posts">
    <article style="background-image: url('images/recent-posts/post-1.jpg');">
      <a href="#">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <time datetime="2014-09-16 19:00">September 16, 2014</time>
              <h3>Modern UI Trends for Ecommerce</h3>
              <span class="author">Posted by <strong> Collis Ta'eed</strong></span>             
            </div>
          </div>
        </div>
      </a>
    </article>
    <article style="background-image: url('images/recent-posts/post-2.jpg');">
      <a href="#">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <time datetime="2014-09-16 18:00">September 16, 2014</time>
              <h3>Envato Marketplaces in LA</h3>
              <span class="author">Posted by <strong> Collis Ta'eed</strong></span>           
            </div>
          </div>
        </div>
      </a>
    </article>
    <article style="background-image: url('images/recent-posts/post-3.jpg');">
      <a href="#">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <time datetime="2014-09-16 17:00">September 16, 2014</time>
              <h3>What Does Success Look Like ?</h3>
              <span class="author">Posted by <strong> Collis Ta'eed</strong></span>             
            </div>
          </div>
        </div>
      </a>
    </article>
    <a href="#" class="blog-more">Read more</a>
  </div>
</section>