<!-- Footer -->
<footer class="site-footer">
  <div class="footer-content">
    <ul class="contact-info">
      <li>
        <svg class="phone">
          <use xlink:href="#shape-phone"></use>
        </svg>
        <span>+353 (0) 123 456 78</span>
      </li>
      <li>
        <svg class="mail">
          <use xlink:href="#shape-mail"></use>
        </svg>
        <a href="mailto:hello@gfxbucket.com">hello@gfxbucket.com</a>      
      </li>
      <li>
        <svg class="map-pin">
          <use xlink:href="#shape-map-pin"></use>
        </svg>
        <span>+353 (0) 123 456 78</span>
      </li>
    </ul>
  </div>
  <div class="copyright">Copyright © Made with Love & Caffeine by Gfxbucket. All Rights Reserved.</div>
</footer>