<header class="site-header">
  <a href="index.html" class="site-logo">
    <%= image_tag 'codemy-logo.png', width: '50', height: '50' %>
  </a>

  <nav class="nav-menu" role="navigation">
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#work">Work</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#blog">Blog</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>

  <button class="nav-toggle">
    <svg>
      <use xlink:href="#shape-nav"></use>
    </svg>
  </button>

  <ul class="nav-social">
    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
  </ul>
</header>