<section id="home">
  <div id="rev-slider-1-wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="background-color: #e6e6e6;">
    <div id="rev-slider-1" class="rev_slider fullwidthabanner" style="display:none;">
      <ul>
        <li data-transition="fade">
          <!-- MAIN IMAGE -->
          <img src="images/slider/slide-1/background.jpg"  alt="slidebg1" data-lazyload="images/slider/slide-1/background.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

          <div class="tp-caption lfb rs-parallaxlevel-2"
            data-x="center" data-hoffset="-420"
            data-y="center" data-voffset="-150"
            data-speed="1000"
            data-start="1200"
            data-easing="Power3.easeInOut"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="1000"
            style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
            <img src="images/slider/slide-1/show.png" alt="Show">
          </div>

          <div class="tp-caption lfb rs-parallaxlevel-2"
            data-x="center" data-hoffset="-430"
            data-y="center" data-voffset="-70"
            data-speed="1000"
            data-start="1200"
            data-easing="Power3.easeInOut"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="1000"
            style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
            <img src="images/slider/slide-1/your.png" alt="Your">
          </div>

          <div class="tp-caption lfb rs-parallaxlevel-2"
            data-x="center" data-hoffset="-395"
            data-y="center" data-voffset="10"
            data-speed="1000"
            data-start="1200"
            data-easing="Power3.easeInOut"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="1000"
            style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
            <img src="images/slider/slide-1/talent.png" alt="Talent">
          </div>

          <div class="tp-caption lfb rs-parallaxlevel-2"
            data-x="center" data-hoffset="-330"
            data-y="center" data-voffset="90"
            data-speed="1000"
            data-start="1200"
            data-easing="Power3.easeInOut"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="1000"
            style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
            <img src="images/slider/slide-1/to-world.png" alt="To world">
          </div>

          <div class="tp-caption lfb rs-parallaxlevel-2"
            data-x="center" data-hoffset="-365"
            data-y="center" data-voffset="160"
            data-speed="1000"
            data-start="1200"
            data-easing="Power3.easeInOut"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="1000"
            style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
            <img src="images/slider/slide-1/small-text.png" alt="Small text">
          </div>
        </li>


        <li data-transition="fade">
          <!-- MAIN IMAGE -->
          <img src="images/slider/slide-2/background.jpg"  alt="slidebg1" data-lazyload="images/slider/slide-2/background.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

          <div class="tp-caption lfb rs-parallaxlevel-2"
            data-x="center" data-hoffset="-420"
            data-y="center" data-voffset="-150"
            data-speed="1000"
            data-start="1200"
            data-easing="Power3.easeInOut"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="1000"
            style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
            <img src="images/slider/slide-1/show.png" alt="Show">
          </div>

          <div class="tp-caption lfb rs-parallaxlevel-2"
            data-x="center" data-hoffset="-430"
            data-y="center" data-voffset="-70"
            data-speed="1000"
            data-start="1200"
            data-easing="Power3.easeInOut"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="1000"
            style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
            <img src="images/slider/slide-1/your.png" alt="Your">
          </div>

          <div class="tp-caption lfb rs-parallaxlevel-2"
            data-x="center" data-hoffset="-395"
            data-y="center" data-voffset="10"
            data-speed="1000"
            data-start="1200"
            data-easing="Power3.easeInOut"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="1000"
            style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
            <img src="images/slider/slide-1/talent.png" alt="Talent">
          </div>

          <div class="tp-caption lfb rs-parallaxlevel-2"
            data-x="center" data-hoffset="-330"
            data-y="center" data-voffset="90"
            data-speed="1000"
            data-start="1200"
            data-easing="Power3.easeInOut"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="1000"
            style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
            <img src="images/slider/slide-1/to-world.png" alt="To world">
          </div>

          <div class="tp-caption lfb rs-parallaxlevel-2"
            data-x="center" data-hoffset="-365"
            data-y="center" data-voffset="160"
            data-speed="1000"
            data-start="1200"
            data-easing="Power3.easeInOut"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="1000"
            style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
            <img src="images/slider/slide-1/small-text.png" alt="Small text">
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>