<!-- Portfolio -->
<section id="work" class="element element-spacing">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">Dropout gives you instant access to our creatives<br/>who are working almost every hour to<br/>create the product you like</h3>
      </div>
    </div>
  </div>
  <div class="filter">
    <ul class="filter">
      <li><button class="selected" data-filter="*">All</button></li>
      <li><button data-filter=".branding">Branding</button></li>
      <li><button data-filter=".web-design">Web Design</button></li>
      <li><button data-filter=".app-development">App Development</button></li>
      <li><button data-filter=".photography">Photography</button></li>
    </ul>
  </div>
  <section class="portfolio portfolio-masonry portfolio-ajax">
    <article class="portfolio-item branding app-development">
      <a href="portfolio/portfolio-1.html">
        <img src="images/portfolio/portfolio-1.jpg" alt="Portfolio item 1">
        <div class="hover">
          <div class="hover-content">
            <h5>Clockwork Website</h5>
            <span>Branding / App Development</span>
          </div>
        </div>
      </a>
    </article>
    <article class="portfolio-item web-design photography">
      <a href="portfolio/portfolio-1.html">
        <img src="images/portfolio/portfolio-2.jpg" alt="Portfolio item 2">
        <div class="hover">
          <div class="hover-content">
            <h5>Clockwork Website</h5>
            <span>Web Design / Photography</span>
          </div>
        </div>
      </a>
    </article>
    <article class="portfolio-item portfolio-large branding photography">
      <a href="portfolio/portfolio-1.html">
        <img src="images/portfolio/portfolio-3.jpg" alt="Portfolio item 3">
        <div class="hover">
          <div class="hover-content">
            <h5>Clockwork Website</h5>
            <span>Branding / Photography</span>
          </div>
        </div>
      </a>
    </article>
    <article class="portfolio-item web-design app-development">
      <a href="portfolio/portfolio-1.html">
        <img src="images/portfolio/portfolio-4.jpg" alt="Portfolio item 4">
        <div class="hover">
          <div class="hover-content">
            <h5>Clockwork Website</h5>
            <span>Web Design / App Development</span>
          </div>
        </div>
      </a>
    </article>
    <article class="portfolio-item portfolio-large branding web-design">
      <a href="portfolio/portfolio-1.html">
        <img src="images/portfolio/portfolio-5.jpg" alt="Portfolio item 5">
        <div class="hover">
          <div class="hover-content">
            <h5>Clockwork Website</h5>
            <span>Branding / Web Design</span>
          </div>
        </div>
      </a>
    </article>
    <article class="portfolio-item app-development photography">
      <a href="portfolio/portfolio-1.html">
        <img src="images/portfolio/portfolio-6.jpg" alt="Portfolio item 6">
        <div class="hover">
          <div class="hover-content">
            <h5>Clockwork Website</h5>
            <span>App Development / Photography</span>
          </div>
        </div>
      </a>
    </article>
    <article class="portfolio-item branding photography">
      <a href="portfolio/portfolio-1.html">
        <img src="images/portfolio/portfolio-7.jpg" alt="Portfolio item 7">
        <div class="hover">
          <div class="hover-content">
            <h5>Clockwork Website</h5>
            <span>Branding / Photography</span>
          </div>
        </div>
      </a>
    </article>
    <article class="portfolio-item web-design app-develpment">
      <a href="portfolio/portfolio-1.html">
        <img src="images/portfolio/portfolio-8.jpg" alt="Portfolio item 8">
        <div class="hover">
          <div class="hover-content">
            <h5>Clockwork Website</h5>
            <span>Web Design / App Development</span>
          </div>
        </div>
      </a>
    </article>
  </section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="portfolio-more">
          <button class="btn btn-lg">Load More</button>
        </div>
      </div>
    </div>
  </div>
</section>